.app {
    .article {
        padding: .3rem 0;
        border-bottom: 2px solid #eee;
        box-shadow: 0px 4px 8px -8px rgba(0, 0, 0, 0.2);
        font-size: .18rem;
        .hd {
            display: flex;
            
            align-items: flex-end;
            .title {
                font-size: .34rem;
                font-weight: 400;
                line-height: 1;
                padding-right: .3rem;
                color: #000;
                cursor: pointer;
                &:hover {
                    color: #0090fe;
                }
            }
        }
        .bd {
            padding: .3rem 0;
            .more {
                padding-top: .2rem;
                color: #0090fe;
                cursor: pointer;
                .icon-more {
                    padding-left: .08rem;
                }
            }
        }
        .desc {
            font-size: .14rem;
            color: #999;
            & + .desc {
                padding-left: .2rem;
            }
            .value {
                color: #555;
            }
        }
    }
}